*{
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
}

#body1{
    width: 80%;
    margin: auto;
    
}

.color-yellow{
    color: darkkhaki;
}

a{
    text-decoration: none;
    color: white;
}

header, #part-5{
    display: flex;
    align-items: center;
    /* background-color: blue; */
}


#heading , #part-5-article{
    width: 50%;
    margin-right: 20px;
    /* background-color: aqua; */
}

#heading-image , #part-5-image{
    margin-left: 20px; 
    width: 50%;
}

#heading-image img , #part-5-image img{
    width: 80%;
    /* background-color: blueviolet; */
}

.button{
    background-color: rgb(196, 94, 133);
    padding: 10px;
    border-radius: 2px;
}

#part-2{
    display: flex;
}

#part-2-title , #part-5-title{
    text-align: center;
}

.card{
    width: 30%;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
}

.card img{
    width: 40%;
}

.card-1{
    background-color: aquamarine;
}
.card-2{
    background-color: hotpink;
}
.card-3{
    background-color: burlywood;
}

#part-3 , #part-4 {
    display: flex;
    align-items: center;
}

#part-3-img , #part-4-img{
    width: 40%;
    padding: 20px;
}

#part-3-img img , #part-4-img img{
    width: 100%;
}

#part-3-article , #part-4-article{
    width: 60%;
    padding: 20px;
}

footer{
    height: 200px;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 3rem;
}